:root {
  --mainColour: #606b56;
  --secondaryColour: #515a48;
  --borderColour: #161914;
  --mainText: white;
  --secondaryText: #eeeeee;
  --theme-dot-border: #fff;
  --previewBg: rgb(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;
  --buttonColour: #669966;
}
